<style>
  .visually-hidden {
    border: 0px;
    clip: rect(0px, 0px, 0px, 0px);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .addresses-loader {
    display: flex;
    justify-content: center;
    padding-top: 16px;
  }

  .addresses-loader__spinner {
    display: inline-block;
    border-top: 2px solid currentcolor;
    border-right: 2px solid currentcolor;
    border-bottom-style: solid;
    border-left-style: solid;
    border-radius: 99999px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    animation: 0.45s linear 0s infinite normal none running spinner;
    width: var(--spinner-size);
    height: var(--spinner-size);
    --spinner-size: 5rem;
  }

  .addresses {
    width: 100%;
  }

  .address-card {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .address-details {
    flex: 1;
  }

  .address-details p {
    margin: 0;
    line-height: 1.5;
  }

  .address-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 20px;
  }

  .address-actions .btn {
    margin-bottom: 10px;
    width: 80px;
  }

  .btn {
    display: inline-block;
    padding: 6px 12px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 14px;
  }

  .btn--secondary {
    background-color: #6c757d;
    color: white;
  }

  .btn--danger {
    background-color: #dc3545;
    color: white;
  }
</style>

<section class="addresses">
  <div>
    <h2>Addresses</h2>
    <account-addresses></account-addresses>
  </div>
</section>

<script>
  class AccountAddresses extends HTMLElement {
    selectors = {
      loader: '.addresses-loader',
    };

    constructor() {
      super();
      this.loadAddresses();
    }

    async login() {
      this.session = await recharge.auth.loginShopifyAppProxy();
    }

    async loadAddresses() {
      this.setLoading(true);
      await this.login();
      const response = await recharge.address.listAddresses(this.session);
      console.log('Full Response:', response); // Debugging
      const addresses = response.addresses || response; // Adjusted to account for different possible response structures
      addresses.forEach(address => {
        this.append(this.createCard(address));
      });
      this.setLoading(false);
    }

    setLoading(value) {
      const loader = this.querySelector(this.selectors.loader);
      if (!value && loader) {
        loader.remove();
      } else if (value) {
        const loadingEl = document.createElement('div');
        loadingEl.classList.add(this.selectors.loader.split('.')[1]);
        this.append(loadingEl);
      }
    }

    createCard(address) {
      const card = document.createElement('div');
      card.classList.add('address-card');

      const details = document.createElement('div');
      details.classList.add('address-details');
      details.innerHTML = `
        <p>${address.first_name} ${address.last_name}</p>
        <p>${address.address1}</p>
        ${address.address2 ? `<p>${address.address2}</p>` : ''}
        <p>${address.city}</p>
        <p>${address.province}</p>
        <p>${address.country}</p>
        <p>${address.zip}</p>
        <p>${address.phone}</p>
      `;

      const actions = document.createElement('div');
      actions.classList.add('address-actions');
      actions.innerHTML = `
        <a href="#" class="btn btn--secondary" data-id="${address.id}" onclick="editAddress(${address.id})">Edit</a>
        <a href="#" class="btn btn--danger" data-id="${address.id}" onclick="removeAddress(${address.id})">Remove</a>
      `;

      card.append(details);
      card.append(actions);

      return card;
    }
  }

  customElements.define('account-addresses', AccountAddresses);

  function editAddress(id) {
    // Implement your edit functionality here
    console.log('Edit address with ID:', id);
  }

  function removeAddress(id) {
    // Implement your remove functionality here
    console.log('Remove address with ID:', id);
  }
</script>
